/*************************************************
 * Stylesheet of Gitmoji 4 Eclipse - Update-Site * 
 *************************************************/

html {
    background-color: #FFDD67;
}

body {
    width: 60%;
    background-color: #F5F5F5;
    margin-left: auto;
    margin-right: auto;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 1%;
    padding-bottom: 1%;
}

h1 {
    text-align: center;
    padding-bottom: 2%;
}

p {
    text-align: justify;
}

img {
    width: 100%;
    margin-top: 1%;
    margin-bottom: 1%;
}
